.idea/
data/
data/cifar-10-batches-py/
data/MNIST/
data/tiny-imagenet-200.zip
data/cifar-10-python.tar.gz
data/s12/
eva5_s7/
wip.py
main.py
__pycache__/
EVA5_s9_mynotebook.ipynb
s10.ipynb
Models/main.py
S12/s12_jedi_eva5_final_LRplateau.ipynb
S13/coco.names
S13/room_ser.jpg
S13/WIN_20201024_17_13_06_Pro.jpg
S13/yolo_object_detection.py
S13/yolo_object_detection.zip
S13/yolov3.cfg
S13/yolov3.weights
S13/YoLoV3_Output/
S13/YoloV3_Dataset/
S13/input_images_video/
S13/shortvideo.mp4
S13/YoLoV3_Output-images_video.zip

